<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.posithing.ssd.extensions.schooldataprovider" name="School Data Provider" schema="schema/org.posithing.ssd.extensions.schooldataprovider.exsd"/>
   <extension-point id="org.posithing.ssd.extensions.shapeprovider" name="Shape Provider" schema="schema/org.posithing.ssd.extensions.shapeprovider.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.posithing.ssd.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.posithing.ssd.application"
            name="School Schedule Designer">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="School Schedule Designer">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.posithing.ssd.extensions.shapeprovider">
      <shapeprovider
            class="org.posithing.ssd.model.SimpleShapeProvider">
      </shapeprovider>
   </extension>
   <extension
         point="org.posithing.ssd.extensions.schooldataprovider">
      <schooldataprovider
            class="org.posithing.ssd.model.impl.XMLDataProvider">
      </schooldataprovider>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.posithing.ssd.ui.schedule"
            name="Schedule Category">
      </category>
      <category
            id="org.posithing.ssd.ui.data"
            name="Data Category">
      </category>
      <view
            category="org.posithing.ssd.ui.data"
            class="org.posithing.ssd.ui.views.teacherseditor.TeachersEditorView"
            icon="icons/teachers_edit.png"
            id="org.posithing.ssd.ui.TeachersEditorView"
            name="%view.teacherseditor.name"
            restorable="true">
      </view>
      <view
            category="org.posithing.ssd.ui.data"
            class="org.posithing.ssd.ui.views.subjectseditor.SubjectsEditorView"
            id="org.posithing.ssd.ui.SubjectsEditorView"
            name="%view.subjectseditor.name"
            restorable="true">
      </view>
      <view
            category="org.posithing.ssd.ui.data"
            class="org.posithing.ssd.ui.views.classeseditor.ClassesEditorView"
            id="org.posithing.ssd.ui.ClassesEditorView"
            name="%view.classeseditor.name"
            restorable="true">
      </view>
      <view
            category="org.posithing.ssd.ui.schedule"
            class="org.posithing.ssd.ui.views.teachers.TeachersView"
            icon="icons/teachers.png"
            id="org.posithing.ssd.ui.TeachersView"
            name="%view.teachers.name"
            restorable="true">
      </view>
      <view
            category="org.posithing.ssd.ui.schedule"
            class="org.posithing.ssd.ui.views.schedule.ScheduleView"
            id="org.posithing.ssd.ui.ScheduleView"
            name="%view.schedule.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.posithing.ssd.preferences.DataProvidersPage"
            id="org.posithing.ssd.preferences.dataproviders"
            name="%preferences.dataproviders">
      </page>
   </extension>
   <extension
         name="Main Menu Commands"
         point="org.eclipse.ui.commands">
      <category
            description="%category.file.description"
            id="org.posithing.ssd.ui.category.file"
            name="%category.file.name">
      </category>
      <command
            categoryId="org.posithing.ssd.ui.category.file"
            defaultHandler="org.posithing.ssd.handlers.ExitHandler"
            id="org.posithing.ssd.ui.exit"
            name="%command.exit.name">
      </command>
      <command
            categoryId="org.posithing.ssd.ui.category.file"
            defaultHandler="org.posithing.ssd.handlers.OpenHandler"
            id="org.posithing.ssd.ui.open"
            name="%command.open.name">
      </command>
      <command
            categoryId="org.posithing.ssd.ui.category.file"
            defaultHandler="org.posithing.ssd.handlers.SaveHandler"
            id="org.posithing.ssd.ui.save"
            name="%command.save.name">
      </command>
      <category
            description="%category.schedule.description"
            id="org.posithing.ssd.ui.category.schedule"
            name="%category.schedule.name">
      </category>
      <command
            categoryId="org.posithing.ssd.ui.category.schedule"
            defaultHandler="org.posithing.ssd.handlers.LoadScheduleHandler"
            id="org.posithing.ssd.ui.loadTeachers"
            name="%command.schedule.loadTeachers.name">
      </command>
   </extension>
   <extension
         name="Main Menus"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="%menu.file.exit.label"
               mnemonic="%menu.file.exit.mnemonic">
            <command
                  commandId="org.posithing.ssd.ui.open"
                  label="%menu.command.open.label"
                  mnemonic="%menu.command.open.mnemonic"
                  style="push"
                  tooltip="%menu.command.open.tooltip">
            </command>
            <command
                  commandId="org.posithing.ssd.ui.save"
                  icon="icons/saveall_edit.gif"
                  label="%menu.command.save.label"
                  mnemonic="%menu.command.save.mnemonic"
                  style="push"
                  tooltip="%menu.command.save.tooltip">
            </command>
            <separator
                  name="org.posithing.ssd.ui.file.exitSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="org.posithing.ssd.ui.exit"
                  label="%menu.command.exit.label"
                  mnemonic="%menu.command.exit.mnemonic"
                  style="push"
                  tooltip="%menu.command.exit.tooltip">
            </command>
         </menu>
         <menu
               id="scheduleMenu"
               label="%menu.schedule.label"
               mnemonic="%menu.schedule.mnemonic">
            <command
                  commandId="org.posithing.ssd.ui.loadTeachers"
                  label="%menu.command.file.loadTeachers.label"
                  mnemonic="%menu.command.file.loadTeachers.mnemonic"
                  style="push"
                  tooltip="%menu.command.file.loadTeachers.tooltip">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.posithing.ssd.toolbars.1">
            <command
                  commandId="org.posithing.ssd.ui.open"
                  icon="icons/open.png"
                  label="%menu.command.open.label"
                  mnemonic="%menu.command.open.mnemonic"
                  style="push"
                  tooltip="%menu.command.open.tooltip">
            </command>
            <command
                  commandId="org.posithing.ssd.ui.save"
                  icon="icons/saveall_edit.gif"
                  label="%menu.command.save.label"
                  mnemonic="%menu.command.save.mnemonic"
                  style="push"
                  tooltip="%menu.command.save.tooltip">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         name="Data Commands"
         point="org.eclipse.ui.commands">
      <category
            id="org.posithing.ssd.ui.category.data.classes"
            name="Classes Data Category">
      </category>
      <command
            categoryId="org.posithing.ssd.ui.category.data.classes"
            defaultHandler="org.posithing.ssd.handlers.AddClassHandler"
            id="org.posithing.ssd.ui.addSchoolClass"
            name="%command.addSchoolClass.name">
      </command>
      <command
            categoryId="org.posithing.ssd.ui.category.data.classes"
            id="org.posithing.ssd.ui.deleteSchoolClass"
            name="%command.deleteSchoolClass.name">
      </command>
      <command
            categoryId="org.posithing.ssd.ui.category.data.classes"
            defaultHandler="org.posithing.ssd.handlers.AddSubjectHandler"
            id="org.posithing.ssd.ui.addSubject"
            name="%command.addSubject.name">
      </command>
      <command
            categoryId="org.posithing.ssd.ui.category.data.classes"
            id="org.posithing.ssd.ui.deleteSubject"
            name="%command.deleteSubject.name">
      </command>
      <command
            categoryId="org.posithing.ssd.ui.category.data.classes"
            defaultHandler="org.posithing.ssd.handlers.AddTeacherHandler"
            id="org.posithing.ssd.ui.addTeacher"
            name="%command.addTeacher.name">
      </command>
      <command
            categoryId="org.posithing.ssd.ui.category.data.classes"
            id="org.posithing.ssd.ui.deleteTeacher"
            name="%command.deleteTeacher.name">
      </command>
      <command
            categoryId="org.posithing.ssd.ui.category.data.classes"
            id="org.posithing.ssd.ui.editTeacher"
            name="%command.editTeacher.name">
      </command>
   </extension>
   <extension
         name="Data Menus"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.posithing.ssd.ui.ClassesEditorView?after=additions">
         <command
               commandId="org.posithing.ssd.ui.addSchoolClass"
               disabledIcon="icons/full/dtool16/add_obj_disabled.gif"
               icon="icons/full/etool16/add_obj.gif"
               label="%command.addSchoolClass.name"
               style="push"
               tooltip="%command.addSchoolClass.tooltip">
         </command>
         <command
               commandId="org.posithing.ssd.ui.deleteSchoolClass"
               disabledIcon="icons/full/dtool16/delete_obj_disabled.gif"
               icon="icons/full/etool16/delete_obj.gif"
               label="%command.deleteSchoolClass.name"
               style="push"
               tooltip="%command.deleteSchoolClass.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.posithing.ssd.ui.ClassesEditorView?after=additions">
         <command
               commandId="org.posithing.ssd.ui.deleteSchoolClass"
               disabledIcon="icons/full/dtool16/delete_obj_disabled.gif"
               icon="icons/full/etool16/delete_obj.gif"
               label="%command.deleteSchoolClass.name"
               style="push"
               tooltip="%command.deleteSchoolClass.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.posithing.ssd.ui.SubjectsEditorView?after=additions">
         <command
               commandId="org.posithing.ssd.ui.addSubject"
               disabledIcon="icons/full/dtool16/add_obj_disabled.gif"
               icon="icons/full/etool16/add_obj.gif"
               label="%command.addSubject.name"
               style="push"
               tooltip="%command.addSubject.tooltip">
         </command>
         <command
               commandId="org.posithing.ssd.ui.deleteSubject"
               disabledIcon="icons/full/dtool16/delete_obj_disabled.gif"
               icon="icons/full/etool16/delete_obj.gif"
               label="%command.deleteSubject.name"
               style="push"
               tooltip="%command.deleteSubject.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.posithing.ssd.ui.SubjectsEditorView?after=additions">
         <command
               commandId="org.posithing.ssd.ui.deleteSubject"
               disabledIcon="icons/full/dtool16/delete_obj_disabled.gif"
               icon="icons/full/etool16/delete_obj.gif"
               label="%command.deleteSubject.name"
               style="push"
               tooltip="%command.deleteSubject.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.posithing.ssd.ui.TeachersEditorView?after=additions">
         <command
               commandId="org.posithing.ssd.ui.addTeacher"
               disabledIcon="icons/full/dtool16/add_obj_disabled.gif"
               icon="icons/full/etool16/add_obj.gif"
               label="%command.addTeacher.name"
               style="push"
               tooltip="%command.addTeacher.tooltip">
         </command>
         <command
               commandId="org.posithing.ssd.ui.editTeacher"
               disabledIcon="icons/full/dtool16/edit_obj_disabled.gif"
               icon="icons/full/etool16/edit_obj.gif"
               label="%command.editTeacher.name"
               style="push"
               tooltip="%command.editTeacher.tooltip">
         </command>
         <command
               commandId="org.posithing.ssd.ui.deleteTeacher"
               disabledIcon="icons/full/dtool16/delete_obj_disabled.gif"
               icon="icons/full/etool16/delete_obj.gif"
               label="%command.deleteTeacher.name"
               style="push"
               tooltip="%command.deleteTeacher.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.posithing.ssd.ui.TeachersEditorView?after=additions">
         <command
               commandId="org.posithing.ssd.ui.deleteTeacher"
               disabledIcon="icons/full/dtool16/delete_obj_disabled.gif"
               icon="icons/full/etool16/delete_obj.gif"
               label="%command.deleteTeacher.name"
               style="push"
               tooltip="%command.deleteTeacher.tooltip">
         </command>
         <command
               commandId="org.posithing.ssd.ui.editTeacher"
               disabledIcon="icons/full/dtool16/edit_obj_disabled.gif"
               icon="icons/full/etool16/edit_obj.gif"
               label="%command.editTeacher.name"
               style="push"
               tooltip="%command.editTeacher.tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.posithing.ssd.ui.perspective.SchoolSchedulePerspective"
            icon="icons/perspective_schedule.png"
            id="org.posithing.ssd.ui.perspective.ShoolSchedule"
            name="%perspective.schoolschedule.name">
      </perspective>
      <perspective
            class="org.posithing.ssd.ui.perspective.SchoolDataPerspective"
            icon="icons/perspective_data.png"
            id="org.posithing.ssd.ui.perspective.ShoolData"
            name="%perspective.schooldata.name">
      </perspective>
   </extension>
   <extension
         name="Menu Bindings"
         point="org.eclipse.ui.bindings">
      <scheme
            description="%keybindings.schema.description"
            id="org.posithing.ssd.keybindings.schema"
            name="%keybindings.schema.name"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
            commandId="org.posithing.ssd.ui.open"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.posithing.ssd.keybindings.schema"
            sequence="M1+O">
      </key>
      <key
            commandId="org.posithing.ssd.ui.save"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.posithing.ssd.keybindings.schema"
            sequence="M1+S">
      </key>
   </extension>
   <extension
         name="Views Key Bindings"
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.views.showView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+Q T">
         <parameter
               id="org.eclipse.ui.views.showView.viewId"
               value="org.posithing.ssd.ui.TeachersEditorView">
         </parameter>
      </key>
      <key
            commandId="org.eclipse.ui.views.showView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+Q S">
         <parameter
               id="org.eclipse.ui.views.showView.viewId"
               value="org.posithing.ssd.ui.SubjectsEditorView">
         </parameter>
      </key>
      <key
            commandId="org.eclipse.ui.views.showView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+Q C">
         <parameter
               id="org.eclipse.ui.views.showView.viewId"
               value="org.posithing.ssd.ui.ClassesEditorView">
         </parameter>
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.posithing.ssd.definition.isClassesEditorView">
         <with
               variable="activePartId">
            <equals
                  value="org.posithing.ssd.ui.ClassesEditorView">
            </equals>
         </with>
      </definition>
      <definition
            id="org.posithing.ssd.definition.isSchoolClass">
         <and>
            <reference
                  definitionId="org.posithing.ssd.definition.isClassesEditorView">
            </reference>
            <iterate>
               <instanceof
                     value="org.posithing.ssd.model.SchoolClass">
               </instanceof>
            </iterate>
         </and>
      </definition>
      <definition
            id="org.posithing.ssd.definition.isSubjectsEditorView">
         <with
               variable="activePartId">
            <equals
                  value="org.posithing.ssd.ui.SubjectsEditorView">
            </equals>
         </with>
      </definition>
      <definition
            id="org.posithing.ssd.definition.isSubject">
         <and>
            <reference
                  definitionId="org.posithing.ssd.definition.isSubjectsEditorView">
            </reference>
            <iterate>
               <instanceof
                     value="org.posithing.ssd.model.Subject">
               </instanceof>
            </iterate>
         </and>
      </definition>
      <definition
            id="org.posithing.ssd.definition.isTeachersEditorView">
         <with
               variable="activePartId">
            <equals
                  value="org.posithing.ssd.ui.TeachersEditorView">
            </equals>
         </with>
      </definition>
      <definition
            id="org.posithing.ssd.definition.isTeacher">
         <and>
            <reference
                  definitionId="org.posithing.ssd.definition.isTeachersEditorView">
            </reference>
            <iterate>
               <instanceof
                     value="org.posithing.ssd.model.Teacher">
               </instanceof>
            </iterate>
         </and>
      </definition>
   </extension>
   <extension
         name="Toolbar Commands"
         point="org.eclipse.ui.handlers">
      <handler
            class="org.posithing.ssd.handlers.DeleteClassHandler"
            commandId="org.posithing.ssd.ui.deleteSchoolClass">
         <activeWhen>
            <reference
                  definitionId="org.posithing.ssd.definition.isSchoolClass">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.posithing.ssd.handlers.DeleteSubjectHandler"
            commandId="org.posithing.ssd.ui.deleteSubject">
         <activeWhen>
            <reference
                  definitionId="org.posithing.ssd.definition.isSubject">
            </reference></activeWhen>
      </handler>
      <handler
            class="org.posithing.ssd.handlers.DeleteTeacherHandler"
            commandId="org.posithing.ssd.ui.deleteTeacher">
         <activeWhen>
            <reference
                  definitionId="org.posithing.ssd.definition.isTeacher">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.posithing.ssd.handlers.EditTeacherHandler"
            commandId="org.posithing.ssd.ui.editTeacher">
         <activeWhen>
            <reference
                  definitionId="org.posithing.ssd.definition.isTeacher">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Schedule Grid Category"
            id="org.posithing.ssd.ui.category.schedule.grid"
            name="Schedule Grid Category">
      </category>
      <command
            categoryId="org.posithing.ssd.ui.category.schedule.grid"
            defaultHandler="org.posithing.ssd.handlers.schedule.DeleteAssignmentHandler"
            id="org.posithing.ssd.ui.schedule.deleteAssignment"
            name="%command.schedule.deleteAssignment.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.posithing.ssd.ui.ScheduleView?after=additions">
         <command
               commandId="org.posithing.ssd.ui.schedule.deleteAssignment"
               icon="icons/full/etool16/delete_obj.gif"
               label="%command.schedule.deleteAssignment.name"
               mnemonic="%command.schedule.deleteAssignment.mnemonic"
               style="push"
               tooltip="%command.schedule.deleteAssignment.tooltip">
         </command>
         <dynamic
               class="org.posithing.ssd.ui.citems.AddAssignmentCItem"
               id="org.posithing.ssd.ui.schedule.addAssignment">
         </dynamic>
         <dynamic
               class="org.posithing.ssd.ui.citems.AddLastSelectedAssignmentsCItem"
               id="org.posithing.ssd.ui.schedule.addLastSelectedAssignments">
         </dynamic>
         <dynamic
               class="org.posithing.ssd.ui.citems.AddLastDeletedAssignmentsCItem"
               id="org.posithing.ssd.ui.schedule.addLastDeletedAssignments">
         </dynamic>
         <separator
               name="org.posithing.ssd.ui.schedule.separator1">
         </separator>
      </menuContribution>
   </extension>

</plugin>
